.pageHeader {
    display:flex;
    justify-content: center;
    margin: 25px;
}
.list {
    display:flex;
    flex: 30%;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.shop {
    flex-basis: 28%;
    border-style: dotted;
    padding: 5px;
}